* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    font-family: "Orbitron", serif;
    font-style: normal;
    font-weight: 600;
}

body {
    background-color: #1f1f1f;
    background-color: #202020;
    background-color: #181818;
    align-items: center;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;

}


@keyframes closing_main_card {
    0% {
        width: 100%;
        height: 100%; 
        background-size: 100%;
    }

    100% {
        width: 0px;
        height: 0px;
        background-size: 0px;

    }
}

@keyframes font_size_animation {
    0% {
        font-size: 60px;
    }

    100% {
        font-size: 42px;

    }
}


/*  */
/*  */
/* INDEX HTML PAGE */
/*  */
/*  */


#main_card {
    align-items: center;
    text-align: center;
    display: block;
    user-select: none;
    animation: none;
    overflow: hidden;
    height: 600px;

}

#second_card {
    align-items: center;
    text-align: center;
    display: none;
    user-select: none;
    transition: all 0.5s;
    margin-right: 45px;
}

#third_card {
    align-items: center;
    text-align: center;
    display: none;
    user-select: none;
    transition: all 0.5s;
    margin-right: 45px;
}

.main_card2 {
    align-items: center;
    text-align: center;
    display: flex;
}

.welcome_text {
    width: 100%;
    font-size: 60px;
    order: 2;
    padding-top: 40px;
    padding-bottom: 14px;
}

.welcome_text2 {
    width: 90%;
    margin-left: 5%;
    font-size: 60px;
    order: 2;
    padding-top: 40px;
    padding-bottom: 14px;
    text-align: center;
    align-self: center;
    justify-self: center;
    user-select: none;
    overflow: hidden;
}

.welcome_icon {
    background-image: url('/static/images/icon.ico');
    background-size: 180px;
    height: 180px;
    width: 100%;
    z-index: 10;
    align-self: stretch;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 130px;
}


/*  */
/*  */
/* NEXT BUTTON ON INDEX */
/*  */
/*  */


.welcome_next_button {
    display: block;
    position: relative;
    order: 3;
    border-radius: 15px;
    background-color: #181818;
    border-color: #1f1f1f;
    width: 20%;
    margin-left: 40%;
    height: 50px;
    margin-top: 30px;
    color: white;
    box-shadow: 0px 0px 15px #2b2b2b;
}

.button_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    font-weight: 600;
    color: greenyellow;
    color: #45f3ff;
    box-shadow: 0 0 0 2px greenyellow;
    box-shadow: 0 0 0 2px #ffd15c;
    box-shadow: 0 0 0 2px #45f3ff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    margin-top: 30px;
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: greenyellow;
    fill: #45f3ff;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: greenyellow;
    background-color: #45f3ff;
    border-radius: 10%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #212121;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 2 0 2px greenyellow;
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}



.brend_container {
    /* transform: translate(-50%, -50%); */

}

.brends {
    height: 150px;
    width: 1000px;
    /* background-color: #2b2b2b; */
    margin: 0 auto;
    display: flex;
    padding: 2.5em;
    overflow: hidden;
    border-radius: 20px
    /* box-shadow: 0px 5px 10px #000; */
    align-items: center;
}

@keyframes animate_logo {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(calc(-250px * 150));
    }
}

.logo {
    /* size: 12px;
    image-resolution: 10px; */
    /* width: 10px; */
    user-select: none;
    height: 100px;
    margin-left: 3em;
    pointer-events: none;
    animation: animate_logo 360s linear infinite;
    /* filter: hue-rotate(90deg); */
}

